<div animGroup="opacity" class="h-full flex flex-col items-center justify-center p-8">
  <div animOnInit="opacity" class="text-center mb-3">
    <h2 class="text-lg font-bold">Zeichne deinen Avatar</h2>
    <p class="text-xs text-stone-500">{{ playerName() }}, mal dich selbst!</p>
  </div>

  <app-drawing-canvas
    animOnInit="opacity"
    #drawingCanvas
    [initialImage]="initialAvatarImage()"
    (submitted)="avatarSubmitted.emit($event)"
  />

  <!-- html -->
  <div animOnInit="opacity" class="flex gap-2 mt-3 items-center w-fit">
    <button
      class="h-17.5 w-40 relative inline-flex items-center justify-center transition-transform hover:scale-105 active:translate-y-px"
      (click)="clear()"
    >
      <svg class="h-full w-auto" aria-label="Neu">
        <use href="assets/sprite.svg#draw-btn-new"/>
      </svg>
      <span class="absolute left-20 top-1/2 -translate-y-1/2 z-10 text-2xl text-white">Neu</span>
    </button>

    <button
      class="h-17.5 w-50 relative inline-flex items-center justify-center transition-transform hover:scale-105 active:translate-y-px"
      (click)="submit()"
    >
      <svg class="h-full w-auto" aria-label="Fertig">
        <use href="assets/sprite.svg#draw-btn-complete"/>
      </svg>
      <span class="absolute left-20 top-1/2 -translate-y-1/2 text-2xl z-10">Fertig</span>
    </button>
  </div>
  <button animOnInit="opacity" class="mt-2 text-xs text-stone-400 hover:text-stone-600 underline"
          (click)="skipped.emit()">
    ÜBERSPRINGEN
  </button>
</div>

