@if (renderVisible() && displayBox(); as b) {
  <div
    class="absolute pointer-events-none"
    [style.left.px]="b.x"
    [style.top.px]="b.y"
    [style.width.px]="b.w"
    [style.height.px]="b.h"
    [style.transform-origin]="transformOrigin(b)"
    [style.transform]="'rotate(' + displayRotation() + 'deg)'">

    <div
      class="absolute pointer-events-none origin-center transition-opacity duration-120 ease-out"
      [style.opacity]="overlayActive() ? (dimmed() ? 0.38 : 1) : 0"
      [style.left.px]="0"
      [style.top.px]="0"
      [style.width.px]="b.w"
      [style.height.px]="b.h">

      <svg
        class="absolute inset-0 translate-y-0.5 w-full h-full pointer-events-none overflow-visible"
        xmlns="http://www.w3.org/2000/svg"
        [attr.viewBox]="'0 0 ' + b.w + ' ' + b.h">
        <rect
          x="0"
          y="0"
          [attr.width]="b.w"
          [attr.height]="b.h"
          fill="none"
          [attr.stroke]="stickerOutlineColor"
          [attr.stroke-width]="stickerOutlineWidth"
          stroke-dasharray="3 8"
          stroke-linecap="round"
          rx="4" />
      </svg>

      @if (showHandles()) {
        <button
          type="button"
          data-overlay-handle
          class="absolute -bottom-4 -left-4 w-8 h-8 rounded-full bg-white border-2 flex items-center justify-center shadow pointer-events-auto touch-none select-none active:scale-90"
          (pointerdown)="onHandleDown($event, 'rotate')"
          [style.border-color]="stickerOutlineColor">
          <app-svg class="pointer-events-none" name="icon-overlay-rotate" w="25" />
        </button>

        <button
          type="button"
          data-overlay-handle
          class="absolute -bottom-4 -right-4 w-8 h-8 rounded-full bg-white border-2 flex items-center justify-center shadow pointer-events-auto touch-none select-none active:scale-90"
          (pointerdown)="onHandleDown($event, 'scale')"
          [style.border-color]="stickerOutlineColor">
          <app-svg class="pointer-events-none" name="icon-overlay-scale" w="25" />
        </button>
      }
    </div>
  </div>
}
