<div #wrapper class="relative overflow-hidden no-select bg-white"
     style="width: 100%; aspect-ratio: 1; touch-action: none; user-select: none; -webkit-touch-callout: none; -webkit-user-select: none;"
     (pointerdown)="$event.preventDefault()"
     (pointermove)="$event.preventDefault()">

  <svg class="absolute inset-0 w-full h-full pointer-events-none z-20" aria-hidden="true">
    <use href="assets/sprite.svg#draw-frame"/>
  </svg>
  <canvas #drawCanvas style="touch-action: none;"
          [class]="'absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2'"
          [style.width]="canvasSizePercent"
          [style.height]="canvasSizePercent"
          (pointerdown)="painter.pointerDown($event)"
          (pointermove)="painter.pointerMove($event)"
          (pointerup)="painter.pointerUp($event)"
          (pointercancel)="painter.pointerUp($event)"
  ></canvas>
</div>

