<div class="h-full overflow-hidden board-pattern-bg text-neutral-900 overscroll-none flex flex-col no-select relative"
     style="padding-bottom: env(safe-area-inset-bottom);">

  @if (screenData.timerActive()) {
    <app-timer-fill [percent]="screenData.timerPercentElapsed()"/>
  }

  <app-player-header
    [vm]="screenData.headerVm()"
    [timerPercent]="screenData.timerActive() ? screenData.timerPercentLeft() : 100"
    [timeLeft]="screenData.timerActive() ? screenData.timerTimeLeft() : ''"
    (editName)="startEditName()"
    (editAvatar)="startEditAvatar()"
  />

  <div class="flex-1 overflow-hidden flex flex-col relative z-10">
    @switch (currentScreen()) {
      @case (PlayerScreen.CONNECTING) {
        <app-player-connecting/>
      }
      @case (PlayerScreen.RECONNECTING) {
        <app-player-reconnecting/>
      }
      @case (PlayerScreen.DISCONNECTED) {
        <app-player-disconnected/>
      }
      @case (PlayerScreen.LOBBY_NAME) {
        <app-lobby-name (nameSubmitted)="onNameSubmitted($event)"/>
      }
      @case (PlayerScreen.LOBBY_AVATAR) {
        <app-lobby-avatar
          [playerName]="sessionStore.playerName()"
          [initialAvatarImage]="screenData.existingAvatarImage()"
          (avatarSubmitted)="onAvatarSubmitted($event)"
        />
      }
      @case (PlayerScreen.LOBBY_WAITING) {
        <app-player-lobby-waiting
          [connectedPlayers]="screenData.lobbyWaitingVm().connectedPlayers"
          (startGame)="startGameWithSound()"
        />
      }
      @case (PlayerScreen.BUILDING) {
        <app-player-building
          [roundIndex]="screenData.buildingVm().roundIndex"
          [prompt]="screenData.buildingVm().prompt"
          [stickerCatalog]="screenData.buildingVm().stickerCatalog"
          [stickerPacks]="screenData.buildingVm().stickerPacks"
          [unlockedPackIds]="screenData.buildingVm().unlockedPackIds"
          [recommendedPackIds]="screenData.buildingVm().recommendedPackIds"
          [timerNotification]="screenData.timerNotification()"
          [maxStickersOnCanvas]="screenData.buildingVm().maxStickersOnCanvas"
          (skipRound)="skipRoundWithSound()"
          (submitCollage)="submitCollageWithSound($event)"
        />
      }
      @case (PlayerScreen.BUILDING_SUBMITTED) {
        <app-player-building-submitted
          [allPlayersDone]="screenData.buildingSubmittedVm().allPlayersDone"
          [players]="screenData.buildingSubmittedVm().players"
          [roundParticipantIds]="screenData.buildingSubmittedVm().roundParticipantIds"
          [submittedPlayerIds]="screenData.buildingSubmittedVm().submittedPlayerIds"
          (endRoundEarly)="endRoundEarlyWithSound()"
        />
      }
      @case (PlayerScreen.BUILDING_SKIPPED) {
        <app-player-building-skipped
          [allPlayersDone]="screenData.buildingSkippedVm().allPlayersDone"
          [players]="screenData.buildingSkippedVm().players"
          [roundParticipantIds]="screenData.buildingSkippedVm().roundParticipantIds"
          [submittedPlayerIds]="screenData.buildingSkippedVm().submittedPlayerIds"
          (endRoundEarly)="endRoundEarlyWithSound()"
        />
      }
      @case (PlayerScreen.VOTING) {
        <app-player-voting
          [vm]="screenData.votingVm()"
          (castVote)="castVoteWithSound($event)"
          (doneVoting)="doneVotingWithSound()"
          (endVotingEarly)="endVotingEarlyWithSound()"
        />
      }
      @case (PlayerScreen.VOTING_DONE) {
        <app-player-voting-done
          [allVotingDone]="false"
          [players]="screenData.votingDoneVm().players"
          [roundParticipantIds]="screenData.votingDoneVm().roundParticipantIds"
          [doneVotingIds]="screenData.votingDoneVm().doneVotingIds"
          (endVotingEarly)="endVotingEarlyWithSound()"
        />
      }
      @case (PlayerScreen.VOTING_ALL_DONE) {
        <app-player-voting-done
          [allVotingDone]="true"
          [players]="screenData.votingDoneVm().players"
          [roundParticipantIds]="screenData.votingDoneVm().roundParticipantIds"
          [doneVotingIds]="screenData.votingDoneVm().doneVotingIds"
          (endVotingEarly)="endVotingEarlyWithSound()"
        />
      }
      @case (PlayerScreen.RESULTS) {
        <app-player-results
          [myPlacement]="screenData.resultsVm().myPlacement"
          [myVoteCount]="screenData.resultsVm().myVoteCount"
          [isWinner]="screenData.resultsVm().isWinner"
          [isTiedWinner]="screenData.resultsVm().isTiedWinner"
          [winnerChoicesDone]="screenData.resultsVm().winnerChoicesDone"
          [currentWinnerStep]="screenData.resultsVm().currentWinnerStep"
          [hasChosenPrompt]="screenData.resultsVm().hasChosenPrompt"
          [hasLockedPacks]="screenData.resultsVm().hasLockedPacks"
          [hasUnlockedPack]="screenData.resultsVm().hasUnlockedPack"
          [promptChoices]="screenData.resultsVm().promptChoices"
          [packUnlockChoices]="screenData.resultsVm().packUnlockChoices"
          [winnerId]="screenData.resultsVm().winnerId"
          [winnerName]="screenData.resultsVm().winnerName"
          [canReadyToAdvance]="screenData.resultsVm().canReadyToAdvance"
          (pickPrompt)="pickPromptWithSound($event)"
          (unlockPack)="unlockPackWithSound($event)"
          (readyToAdvance)="readyToAdvanceWithSound()"
        />
      }
      @case (PlayerScreen.WINNER_PROMPT) {
        <app-player-winner-choices
          [currentWinnerStep]="'prompt'"
          [hasChosenPrompt]="screenData.resultsVm().hasChosenPrompt"
          [hasLockedPacks]="screenData.resultsVm().hasLockedPacks"
          [hasUnlockedPack]="screenData.resultsVm().hasUnlockedPack"
          [promptChoices]="screenData.resultsVm().promptChoices"
          [packUnlockChoices]="screenData.resultsVm().packUnlockChoices"
          (pickPrompt)="pickPromptWithSound($event)"
          (unlockPack)="unlockPackWithSound($event)"
        />
      }
      @case (PlayerScreen.WINNER_UNLOCK) {
        <app-player-winner-choices
          [currentWinnerStep]="'unlock'"
          [hasChosenPrompt]="screenData.resultsVm().hasChosenPrompt"
          [hasLockedPacks]="screenData.resultsVm().hasLockedPacks"
          [hasUnlockedPack]="screenData.resultsVm().hasUnlockedPack"
          [promptChoices]="screenData.resultsVm().promptChoices"
          [packUnlockChoices]="screenData.resultsVm().packUnlockChoices"
          (pickPrompt)="pickPromptWithSound($event)"
          (unlockPack)="unlockPackWithSound($event)"
        />
      }
      @case (PlayerScreen.NEXT_ROUND) {
        <app-player-next-round [hasNewPack]="screenData.nextRoundVm().hasNewPack"/>
      }
      @default {
        <app-player-connecting/>
      }
    }
  </div>
</div>
