<div class="h-full overflow-hidden bg-white text-stone-900 overscroll-none flex flex-col no-select"
     style="padding-bottom: env(safe-area-inset-bottom);">

  <app-player-header
    [vm]="screenData.headerVm()"
    (editName)="startEditName()"
    (editAvatar)="startEditAvatar()"
  />

  <div class="flex-1 overflow-hidden flex flex-col">
    @switch (currentScreen()) {
      @case (PlayerScreen.CONNECTING) {
        <app-player-connecting/>
      }
      @case (PlayerScreen.RECONNECTING) {
        <app-player-reconnecting/>
      }
      @case (PlayerScreen.DISCONNECTED) {
        <app-player-disconnected/>
      }
      @case (PlayerScreen.LOBBY_NAME) {
        <app-lobby-name (nameSubmitted)="onNameSubmitted($event)"/>
      }
      @case (PlayerScreen.LOBBY_AVATAR) {
        <app-lobby-avatar
          [playerName]="sessionStore.playerName()"
          [initialAvatarImage]="screenData.existingAvatarImage()"
          (avatarSubmitted)="onAvatarSubmitted($event)"
          (skipped)="onAvatarSkipped()"
        />
      }
      @case (PlayerScreen.LOBBY_WAITING) {
        <app-player-lobby-waiting (startGame)="stickerService.startGame()"/>
      }
      @case (PlayerScreen.BUILDING) {
        <app-player-building
          [roundIndex]="screenData.buildingVm().roundIndex"
          [prompt]="screenData.buildingVm().prompt"
          [myHand]="screenData.buildingVm().myHand"
          [stickerCatalog]="screenData.buildingVm().stickerCatalog"
          [stickerPacks]="screenData.buildingVm().stickerPacks"
          [maxStickersOnCanvas]="screenData.buildingVm().maxStickersOnCanvas"
          (skipRound)="stickerService.skipRound()"
          (submitCollage)="onSubmitCollage($event)"
        />
      }
      @case (PlayerScreen.BUILDING_SUBMITTED) {
        <app-player-building-submitted
          [allPlayersDone]="screenData.buildingSubmittedVm().allPlayersDone"
          (endRoundEarly)="stickerService.endRoundEarly()"
        />
      }
      @case (PlayerScreen.BUILDING_SKIPPED) {
        <app-player-building-skipped
          [allPlayersDone]="screenData.buildingSkippedVm().allPlayersDone"
          (endRoundEarly)="stickerService.endRoundEarly()"
        />
      }
      @case (PlayerScreen.VOTING) {
        <app-player-voting
          [vm]="screenData.votingVm()"
          (castVote)="stickerService.castVote($event)"
          (doneVoting)="stickerService.doneVoting()"
          (endVotingEarly)="stickerService.endVotingEarly()"
        />
      }
      @case (PlayerScreen.VOTING_DONE) {
        <app-player-voting-done
          [allVotingDone]="false"
          (endVotingEarly)="stickerService.endVotingEarly()"
        />
      }
      @case (PlayerScreen.VOTING_ALL_DONE) {
        <app-player-voting-done
          [allVotingDone]="true"
          (endVotingEarly)="stickerService.endVotingEarly()"
        />
      }
      @case (PlayerScreen.RESULTS) {
        <app-player-results
          [myPlacement]="screenData.resultsVm().myPlacement"
          [myVoteCount]="screenData.resultsVm().myVoteCount"
          [isWinner]="screenData.resultsVm().isWinner"
          [winnerChoicesDone]="screenData.resultsVm().winnerChoicesDone"
          [currentWinnerStep]="screenData.resultsVm().currentWinnerStep"
          [hasChosenPrompt]="screenData.resultsVm().hasChosenPrompt"
          [hasLockedPacks]="screenData.resultsVm().hasLockedPacks"
          [hasUnlockedPack]="screenData.resultsVm().hasUnlockedPack"
          [promptChoices]="screenData.resultsVm().promptChoices"
          [packUnlockChoices]="screenData.resultsVm().packUnlockChoices"
          [guaranteedPackChoices]="screenData.resultsVm().guaranteedPackChoices"
          [winnerId]="screenData.resultsVm().winnerId"
          [winnerName]="screenData.resultsVm().winnerName"
          [canReadyToAdvance]="screenData.resultsVm().canReadyToAdvance"
          (pickPrompt)="stickerService.pickPrompt($event)"
          (unlockPack)="stickerService.unlockPack($event)"
          (pickGuaranteedPack)="stickerService.pickGuaranteedPack($event)"
          (readyToAdvance)="stickerService.readyToAdvance()"
        />
      }
      @case (PlayerScreen.NEXT_ROUND) {
        <app-player-next-round [hasNewPack]="screenData.nextRoundVm().hasNewPack"/>
      }
      @default {
        <app-player-connecting/>
      }
    }
  </div>
</div>
