<div class="h-full flex flex-col overflow-hidden">
  @switch (activeScreen()) {
    @case (PlayerScreen.LOBBY_WAITING) {
      <app-player-lobby-waiting />
    }
    @case (PlayerScreen.BUILDING) {
      <app-player-building />
    }
    @case (PlayerScreen.BUILDING_SUBMITTED) {
      <app-player-building />
    }
    @case (PlayerScreen.BUILDING_SKIPPED) {
      <app-player-building />
    }
    @case (PlayerScreen.VOTING) {
      <app-player-voting />
    }
    @case (PlayerScreen.RESULTS) {
      <app-player-results />
    }
    @case (PlayerScreen.NEXT_ROUND) {
      <app-player-next-round />
    }
    @default {
      <app-player-lobby-waiting />
    }
  }
</div>
