<div class="h-full overflow-hidden board-pattern-bg text-neutral-900 overscroll-none flex flex-col no-select relative"
     style="padding-bottom: env(safe-area-inset-bottom);">

  @if (screenData.timerActive()) {
    <app-timer-fill [percent]="screenData.timerPercentElapsed()"/>
  }

  <app-timer-notification [animPresence]="screenData.showTimerNotifications()" [text]="screenData.timerNotification()"/>

  <app-player-header
    [vm]="screenData.headerVm()"
    [timerPercent]="screenData.timerActive() ? screenData.timerPercentLeft() : 100"
    [timeLeft]="screenData.timerActive() ? screenData.timerTimeLeft() : ''"
    (editName)="startEditName()"
    (editAvatar)="startEditAvatar()"
  />

  <div class="flex-1 overflow-hidden flex flex-col relative z-10">
    @switch (currentScreen()) {
      @case (PlayerScreen.CONNECTING) {
        <app-player-connecting/>
      }
      @case (PlayerScreen.RECONNECTING) {
        <app-player-reconnecting/>
      }
      @case (PlayerScreen.DISCONNECTED) {
        <app-player-disconnected/>
      }
      @case (PlayerScreen.LOBBY_NAME) {
        <app-lobby-name (nameSubmitted)="onNameSubmitted($event)"/>
      }
      @case (PlayerScreen.LOBBY_AVATAR) {
        <app-lobby-avatar
          [playerName]="sessionStore.playerName()"
          [initialAvatarImage]="screenData.existingAvatarImage()"
          (avatarSubmitted)="onAvatarSubmitted($event)"
        />
      }
      @case (PlayerScreen.LOBBY_WAITING) {
        <app-player-lobby-waiting
          [connectedPlayers]="screenData.lobbyWaitingVm().connectedPlayers"
          (startGame)="startGameWithSound()"
        />
      }
      @case (PlayerScreen.ROUND_ACTIVE) {
        <app-player-building
          [roundIndex]="screenData.buildingVm().roundIndex"
          [prompt]="screenData.buildingVm().prompt"
          [task]="screenData.buildingVm().task"
          [timeUp]="screenData.timerTimeUp()"
          (skipRound)="skipRoundWithSound()"
          (submitMinigame)="onSubmitMinigame($event)"
        />
      }
      @case (PlayerScreen.ROUND_SUBMITTED) {
        <app-player-building-submitted
          [allPlayersDone]="screenData.buildingSubmittedVm().allPlayersDone"
          [players]="screenData.buildingSubmittedVm().players"
          [roundParticipantIds]="screenData.buildingSubmittedVm().roundParticipantIds"
          [submittedPlayerIds]="screenData.buildingSubmittedVm().submittedPlayerIds"
          (endRoundEarly)="endRoundEarlyWithSound()"
        />
      }
      @case (PlayerScreen.ROUND_SKIPPED) {
        <app-player-building-skipped
          [allPlayersDone]="screenData.buildingSkippedVm().allPlayersDone"
          [players]="screenData.buildingSkippedVm().players"
          [roundParticipantIds]="screenData.buildingSkippedVm().roundParticipantIds"
          [submittedPlayerIds]="screenData.buildingSkippedVm().submittedPlayerIds"
          (endRoundEarly)="endRoundEarlyWithSound()"
        />
      }
      @case (PlayerScreen.ROUND_RESULTS) {
        <app-player-results
          [myPlacement]="screenData.resultsVm().myPlacement"
          [myVoteCount]="screenData.resultsVm().myVoteCount"
          [isWinner]="screenData.resultsVm().isWinner"
          [isTiedWinner]="screenData.resultsVm().isTiedWinner"
          [winnerName]="screenData.resultsVm().winnerName"
          [currentTask]="screenData.resultsVm().currentTask"
          [myPlayerId]="screenData.resultsVm().myPlayerId"
          [myMinigameSubmission]="screenData.resultsVm().myMinigameSubmission"
          [myMinigameResult]="screenData.resultsVm().myMinigameResult"
          [resultSummary]="screenData.resultsVm().resultSummary"
          (readyToAdvance)="readyToAdvanceWithSound()"
        />
      }
      @default {
        <app-player-connecting/>
      }
    }
  </div>
</div>
